body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-ctrl-geocoder {
    position: absolute;
    top: 35px;
    left: 155px;
    z-index: 1;
    width: 300px;
    
}

#logo-name {
    position: absolute;
    width: 100px !important;
    height: 100px !important;
    top: 17px;
    left: 40px;
    margin-left: 0;
}

.place-name {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.place-postal {
    margin-top: 5px;
}

.place-description {
    margin-top: 5px;
}

.place-languages {
    margin-top: 20px;
    font-weight: bold;
    list-style-type: none;
}

.desc-button {
    background-color: white;
    color: black;
    padding: 11px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Arial Unicode MS Regular';
    font-weight: bold;
    margin-top: 90px;
    margin-left: 30px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 36px;
    padding-left: 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.desc-button:hover {
    background-color: #3e8e41; /* Change the background color on hover */
    border: 0.3;
    border-color: #3e8e41;
    color: white;
}

.lang-button {
    background-color: white; 
    border: 0.3; 
    color: black; 
    padding: 11px 60px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px; 
    font-family: 'Arial Unicode MS Regular';
    font-weight: Regular;
    margin-top: 0px; 
    margin-left: -6px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 36px;
    padding-left: 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
}

.lang-button:hover {
    background-color: #3e8e41;
    border: 0.3;
    border-color: #3e8e41;
    color: white;
}

.new-container {
    width: 415px;
    height: 555px;
    position: absolute;
    top: 100px;
    left: 40px;
    overflow: auto;
    background: white;
    opacity: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.25);
}

.new-container::-webkit-scrollbar {
    display: none;
}

.new-province-name {
    width: 381px;
    color: black;
    position: absolute;
    top: 201px;
    left: 32px;
    font-family: 'Arial Unicode MS Regular';
    font-weight: Bold;
    font-size: 23px;
}

.new-province-image {
    width: 415px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.new-province-region {
    color: black;
    position: absolute;
    top: 234px;
    left: 32px;
    font-family: 'Arial Unicode MS Regular';
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.new-langList-button {
    background-color: white; 
    border: 0.3; 
    color: black; 
    padding: 12px 255px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px; 
    font-family: 'Arial Unicode MS Regular';
    font-weight: Regular;
    margin-top: -100px; 
    margin-left: -6px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 36px;
    padding-left: 45px;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-left: none;
    border-right: none;
    width: 346px;
}

.new-langList-button:hover {
    background-color: #3e8e41; /* Change the background color on hover */
    border: 0.3;
    border-color: #3e8e41;
    color: white;
}

.lang-list {
    list-style-type: none;
    /* width: 255px; */
    position: absolute;
    top: 355px;
    /* left: 0px; */
    font-family: 'Arial Unicode MS Regular';
    font-size: 15px;
    /* opacity: 1; */
}

.lang-item{
  margin-bottom: 12px; /* Add some spacing between list items */
}

.new-desc-button {
    background-color: white;
    color: black;
    padding: 11px 56px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Arial Unicode MS Regular';
    font-weight: Regular;
    margin-top: 90px;
    margin-left: 30px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 36px;
    padding-left: 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.new-desc-button:hover {
    background-color: #3e8e41; /* Change the background color on hover */
    border: 0.3;
    border-color: #3e8e41;
    color: white;
}

.new-lang-button {
    background-color: white; 
    border: 0.3; 
    color: black; 
    padding: 11px 62px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px; 
    font-family: 'Arial Unicode MS Regular';
    font-weight: bold;
    margin-top: 0px; 
    margin-left: -6px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 36px;
    padding-left: 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    pointer-events: none;
}

.new-lang-button:hover {
    background-color: #3e8e41;
    border: 0.3;
    border-color: #3e8e41;
    color: white;
}

.translation-style {
    font-style: italic;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.lang-table th {
    padding-top:35px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Arial Unicode MS Regular';
    font-size: 18px;
}

.lang-table tr {
    /* padding-inline-start: 200px; */
    background-color: #fff;
    font-family: 'Arial Unicode MS Regular';
    font-size: 12px;
    /* padding-left: 1000px; */
}

  
.lang-table td {
    padding: 4px 25px;
    padding-inline-start: 20px;
}

.phrase-style {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 165px;
}

/* Back button styles */
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: #fff; /* set the background color to white */
    border: none;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    background-image: url("../icon/back.png");
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center;
    cursor: pointer;
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s;  
}

/* hide the background image */
.back-button:hover {
    background-color: #fff; /* change the background color to white on hover */
    opacity: 1;
}

.back-button img {
    max-width: 100%;
}

.sidebar-image img {
    width: 415px;
    height: 200px;
    object-fit: cover;
}

.sidebar-container {
    display: none;
}

.lang-container {
    display: none;
}

.board {
    width: 415px;
    height: 555px;
    position: absolute;
    top: 100px;
    left: 40px;
    overflow: hidden;
    background: white;
    opacity: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.25);
}

.province-name {
    width: 381px;
    color: black;
    position: absolute;
    top: 220px;
    left: 32px;
    font-family: 'Arial Unicode MS Regular';
    font-weight: Bold;
    font-size: 23px;
}
.region-name {
    color: black;
    position: absolute;
    top: 250px;
    left: 32px;
    font-family: 'Arial Unicode MS Regular';
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.native-lang{
    width: 381px;
    color: black;
    position: absolute;
    top: 276px;
    left: 32px;
    font-family: 'Arial Unicode MS Regular';
    font-weight: Bold;
    font-size: 16px;

}

.lang-spoken {
    color: black;
    position: absolute;
    top: 312px;
    left: 32px;
    font-family: 'Arial Unicode MS Regular';
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
    margin-right: 30px;
}

.region-desciption {
    width: 350px;
    position: absolute;
    top: 363px;
    left: 32px;
    font-family: 'Arial Unicode MS Regular';
    font-size: 14px;
    opacity: 1;
    text-align: justify;
}
.close-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: #fff;
    background-image: url("../icon/close.png");
    border: none;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s; 
}

.close-icon::before, .close-icon::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    background-color: #000;
}

.close-icon::before {
    transform: rotate(45deg);
}

.close-icon::after {
    transform: rotate(-45deg);
}

/* hide the background image */
.close-icon:hover {
    background-color: #fff; /* change the background color to white on hover */
    opacity: 1;
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .mapboxgl-ctrl-geocoder {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        width: 90%;
        max-width: 300px;
    }

    .board {
        width: 90%;
        height: 75%;
        position: absolute;
        top: 60px;
        left: 5%;
        overflow: hidden;
        overflow-y: scroll;
        background: white;
        opacity: 1;
        border-radius: 8px;
        box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.25);
    }

    .place-languages {
        margin-top: 10px;
        list-style-type: none;
    .province-name {
        width: 90%;
        color: black;
        position: absolute;
        top: 90px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Bold;
        font-size: 22px;
    }

    .region-name {
        color: black;
        position: absolute;
        top: 120px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Medium;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }

    .native-lang {
        width: 90%;
        color: black;
        position: absolute;
        top: 140px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Bold;
        font-size: 14px;
    }

    .lang-spoken {
        color: black;
        position: absolute;
        top: 160px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Medium;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        margin-right: 30px;
    }

    .region-phrases {
        color: black;
        position: absolute;
        top: 450px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Medium;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        margin-right: 30px;
    }

    .region-description {
        width: 80%;
        position: absolute;
        top: 300px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-size: 14px;
        opacity: 1;
        text-align: justify;
    }

    .province-picture {
        width: 150px; /* adjust the width to make it smaller */
        height: auto;
        position: absolute;
        top: 90px;
        right: 5%;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* reduce the size of the search button */
    .mapboxgl-ctrl-geocoder button {
        font-size: 12px;
        padding: 6px 10px;
    }

}

/* For Android phone screens */
@media (max-width: 480px) {
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .mapboxgl-ctrl-geocoder {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        width: 80%;
        max-width: 200px;
    }

    /* reduce the size of the search button for screen smaller than 480px */
    .mapboxgl-ctrl-geocoder--icon-search {
        width: 20px;
        height: 20px;
    }

    .board {
        width: 90%;
        height: 75%;
        position: absolute;
        top: 60px;
        left: 5%;
        overflow: hidden;
        overflow-y: scroll;
        background: white;
        opacity: 1;
        border-radius: 8px;
        box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.25);
    }

    .province-name {
        width: 90%;
        color: black;
        position: absolute;
        top: 90px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Bold;
        font-size: 22px;
    }

    .region-name {
        color: black;
        position: absolute;
        top: 120px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Medium;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }

    .native-lang {
        width: 90%;
        color: black;
        position: absolute;
        top: 140px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Bold;
        font-size: 14px;
    }

    .lang-spoken {
        color: black;
        position: absolute;
        top: 160px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Medium;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        margin-right: 30px;
    }

    .region-phrases {
        color: black;
        position: absolute;
        top: 450px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-weight: Medium;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        margin-right: 30px;
    }

    .region-description {
        width: 80%;
        position: absolute;
        top: 300px;
        left: 5%;
        font-family: 'Arial Unicode MS Regular';
        font-size: 14px;
        opacity: 1;
        text-align: justify;
    }

    .province-picture {
        width: 150px;
        height: auto;
        position: absolute;
        top: 90px;
        right: 5%;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
}