body { 
    margin: 0; 
    padding: 0; 
}
      
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width:400px;
    background-color: #fff;
    overflow-y: scroll;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .sidebar-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .sidebar-header img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .sidebar-content {
    padding: 20px;
}

#geocoder {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
	width: 600px;
}

.place-name { 
    font-weight: bold; 
}
      
.place-postal { 
    margin-top: 5px; 
}
      
.place-description { 
    margin-top: 5px; 
}
      
.place-languages { 
    margin-top: 20px; 
}
p{
    font-weight: bold;
}
/* Media queries */
@media screen and (max-width: 768px) {
    #geocoder {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
    }

    .place-description {
        font-size: 14px;
    }

    .place-languages {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .place-description {
        font-size: 12px;
    }
}